html, body {
    height: 100%;
    margin: 0;
}

/* ---------fonts ----------*/

@font-face {
    font-family: newake;
    src: url("assets/fonts/indieground-newakefont-demo/Newake-Font-Demo.otf");
}

@font-face {
    font-family: stamp;
    src: url("assets/fonts/fashion-stamp-font/FashionStamp-DOv2W.otf")
}

@font-face {
    font-family: urbanist;
    src: url("assets/fonts/Urbanist/Urbanist-VariableFont_wght.ttf")
}

@font-face {
    font-family: futura;
    src: url("assets/fonts/Futura.ttc")
}

/* ----------general styling----------*/

::selection {
    background:#333;
}

::-moz-selection {
    background:#333;
}

/* ---------landing page ---------*/
body.gradient-background {
    background-image: url("assets/images/backgrounds/indieground-freebies-textures-gradients/Freebie-GradientTextures-02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1.welcome {
    font-size: 75px;
    color: white;
    opacity: 80%;
    font-family: newake;
    padding-right: 20px;
}

h2.welcome {
    color: white;
    opacity: 75%;
    font-family: urbanist;
}


.landing {
    display: flex;
    align-items: center;
    justify-content: right;
}

/* --------animations--------- */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.welcome {
    animation: fadeIn 1.5s ease-in-out;
}

/*--------navbar--------*/

.delayed-navbar {
    animation-delay: 1s;
    animation: fadeIn 1.5s ease-in-out;
    float: bottom;
}

.navbar {
    font-family: urbanist;
}

a.nav-link {
    color: white;
    opacity: 75%;
}

.nav-brand {
    opacity: 80%;
}
